*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Início Header */
.container{
    width: 1200px;
    margin: 0 auto;
}

.logo-spmed{
    height: 117px;
    width: 185px;
    margin-left: 85px;
    margin-top: 25px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: #81DF71;
}

.links{
    display: flex;
    width: 398px;
    height: 28px;
    margin-right: 137px;
    justify-content: space-between;
}

a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    text-decoration:none;
    color: black;
}

.h2quadro{
    display: flex;
    margin-right: 370px;
}
/* Fim Header */

/* Início Main */
main{
    background-repeat: no-repeat;
}

.fundo{
    background-image: url("./assets/undraw_doctor_kw5l\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.login-quadro{
    align-items: center;
    border-style: inset;
    border-color: black;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 700px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    justify-content: center;
    margin-bottom: 110px;
}

.logo-saopaulomed{
        height: 117px;
        width: 185px;
}

.quadrobranco{
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-color: black;
    border-width: 3px;
    width: 480px;
    height: 350px;
    background-color: white;
}
/* Fim Main */

/* Início Footer */
.logo-footer{
    height: 100px;
    width: 165px;
    margin-left: 85px;
    margin-top: 25px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 100%;
    background-color: #81DF71;
}
/* Fim Footer */